/****************************
* Custom CSS
* author: Rochelle Lewis rlewis37@cnm.edu
*****************************/

/****************************
* CUSTOM UTILS
*****************************/
.py-10 {
	padding-top: 10rem;
	padding-bottom: 10rem;
}

/****************************
* GLOBAL STYLES
*****************************/

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Shade&family=Press+Start+2P&family=Roboto:ital,wght@0,400;0,900;1,300;1,900&display=swap');

/* required for bootstrap scrollspy */
body {
	position: relative;
}

a,
a:visited,
a:hover,
a:active {
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}

/****************************
* NAVBAR
*****************************/
nav.navbar {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.navbar-brand {
	font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}

.navbar-dark {
	background-color: #000;
}

/* custom navbar-inverse overrides*/
.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
	color: gold;
}

/* embiggen nav on md and lg screens only*/
@media only screen and (min-width: 992px) {
	nav.navbar-inverse {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.navbar-inverse {
		background-color: transparent;
		border-bottom: 1px solid rgba(255,255,255,0.2);
	}

	.navbar-brand {
		font-size: 2rem;
	}
}

/****************************
* WELCOME
*****************************/
body {
	background: url(../img/02.jpg) no-repeat center right fixed;
	background-size: cover;
}

section#welcome {
	min-height: 100vh;
}

/****************************
* ABOUT
*****************************/
section#about {
	background-color: rgba(0,0,0,0.75);
}

/****************************
* GALLERY
*****************************/
section#gallery {
	background-color: orchid;
}

/****************************
* CONTACT
*****************************/
section#contact {
	background-color: rgba(255,255,255,0.85);
}

/****************************
* FOOTER
*****************************/
footer {
	background-color: #FFDA01;
}